<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
<div th:replace = "{fragments/header:headr}"></div>
<h3 th:text = "${studentsModel.title}"></h3>
<table border="1" >
    <thead>
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>性别</td>
            <td>课程</td>
            <td>成绩</td>
        </tr>
    </thead>
    <tbody>
    <tr th:if = "${studentModel.studentList.size()} eq 0">
        <td colspan="5">没有学生信息</td>
    </tr>
    <tr th:each = "Studen"
    </tbody>
</table>
</body>
</html>